---
import Article from "../components/Article";
import BaseLayout from "../layouts/BaseLayout.astro";
const index = await Astro.glob("../pages/posts/index.md");
const pageTitle = "Home Page";
import { Content } from "../pages/posts/index.md";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="index">
    <Content />
  </div>
</BaseLayout>
