---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
</style>
<footer class="footer">
  <a href="/">Trong Nghia</a>
  <span>-</span>
  <p>Build by <a href="https://astro.build/">Astro</a></p>
</footer>
