---
import Navigation from "./Navigation.astro";
import Hambuger from "./Hambuger.astro";
import ThemeIcons from "./ThemeIcon.astro";
import Logo from "./Logo.astro";
---

<header>
  <nav class="navigation">
    <div class="logo">
      <Logo />
      <ThemeIcons />
    </div>
    <Navigation />
  </nav>
</header>
