---
import Navigation from "./Navigation.astro";
import Hambuger from "./Hambuger.astro";
import ThemeIcons from "./ThemeIcon.astro";
---

<header>
  <nav>
    <Hambuger />
    <ThemeIcons />
    <Navigation />
  </nav>
</header>
