---

---
<style>
    .logo-name {
        font-size: 32px;

        margin: 0;
    }
    .logo-name a {
        text-decoration: none;
    }
</style>
<div>
    <p class="logo-name"><a href="/">TrongNghia</a></p>
</div>