---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
	<Header />
    <h1></h1>
    <h1>My Astro Site</h1>
    <slot/>
	<Footer />
	<script>
		import "../scripts/menu.js";
	</script>
  </body>
</html>
